<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="//vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="vkMusic" ng-controller="vkMusicCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable bar bar-header bar-positive">
        <h1 class="title">vk Music</h1>
        <button class="button icon ion-plus"></button>
      </ion-header-bar>

      <ion-content>
        <ion-list>
          <ion-item ng-repeat="task in tasks" class="item item-checkbox">
              <span class="title glyphicon" ng-class="task.icon"></span>
              <span class="title">{{task.name}}</span>
              <label class="checkbox">
                <input type="checkbox" ng-if="task.status" ng-model="task.status">
              </label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
